
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^tarabotsecurity\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.tarabotsecurity\.com$
RewriteRule ^/?$ "https\:\/\/www\.tarabotsecurity\.com\/" [R=301,L]
